<!DOCTYPE html>
<html>
<head>
  <title>NAHP :: @ViewBag.Title</title>
  <link href="@Url.Content("~/Content/themes/base/style.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Content/nivo-slider.css")" rel="stylesheet" type="text/css" />
  <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
  <script src="@Url.Content("~/Scripts/jquery.nivo.slider.js")" type="text/javascript"></script>
</head>
<body class="admin">
<div id="page-container">
  <div id="page">
    <div id="main-menu">
      <ul>
        <li>@Html.ActionLink("Home", "Index", "Admin")</li>
      </ul>
    </div>
    <div id="admin-head">
      NAHP Administrative Control Panel
    </div>
    <div id="content">
      @RenderBody()
    </div>
  </div>
</div>
<div id="bottom"></div>
</body>
</html>
